<!DOCTYPE html>
<html>
<head>
  <title>Monkeydo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul class="hmenu">
    <li>Message Board</li>
    <li><%= current_user.email %></li>
    <li><%= render 'devise/menu/registration_items' %></li>
    <li><%= render 'devise/menu/login_items' %></li>
  </ul>
  <div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
  
<%= yield %>

</body>
</html>
