<!DOCTYPE html>
<html>
<head>
  <title>Monkeydo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-inner">
      <a class="navbar-brand" href="#">Message Board</a>
      <ul class="nav navbar-nav pull-right">
        <li><%= render 'devise/menu/registration_items' %></li>
        <li><%= render 'devise/menu/login_items' %></li>
      </ul>
      
    </div>
  </div>
  <div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
  
<%= yield %>

</body>
</html>
